@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* @import 'react-loader-spinner/dist/loader/css/react-spinner-loader.css'; */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 22, 231, 1) 65%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* pages */
@import '../css/pages/WeatherApp.css';

/* components */
@import '../css/cmps/AppHeader.css';
@import '../css/cmps/SearchForm.css';
@import '../css/cmps/Forecast.css';
@import '../css/cmps/ForecastCardList.css';
@import '../css/cmps/ForecastCard.css';
@import '../css/cmps/Modal.css';
